.receipt_holder{
    background-color: #FFF;
    margin: 0.1%;
    padding: 5%;
    border: 1px solid #ababab;
    border-radius: 5px;

}
.receipt_store{
	font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.receipt_location{
    text-align: center;
    margin: 0%;
}
.receipt_date{
    text-align: center;
    margin-bottom: 5%;
}
.receipt_products{
	text-align: right;
}
.receipt_price{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 2%;
}

.receipt_button{
	width: 40%;
    background: #FFC107;
    border-radius: 6px;
    border: none !important;
    color: #FFF;
    font-weight: bold;

}

#edit_button{
	margin-left: 7%;
	margin-right: 2%;
}
#delete_button{
	margin-left: 2%;
	margin-right: 4%;
}

#receipt_search{
    /*border: 2px solid #FFC107 !important;*/
    margin-top: 0px !important;

}
