.receipt_holder{
    background-color: #FFF;
    margin: 0.1%;
    border: 1px solid #ababab;
    border-radius: 10px;
}
.receipt_store{

}
.receipt_location{

}
.receipt_date{

}
.receipt_products{

}
.receipt_price{
    
}
